$ice : #0297d1;
$freshWater: #0171b1;
$deepRose: #f2335e;
$plaster: #CDCDCD;
$linen: #e9e9e9;
$paper: #f4f4f4;
$gold: #FFD700;


// font-family: 'Lobster', cursive;
// font-family: 'Arimo', sans-serif;

